<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PORTAL JOB
    </ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>DEVELOPPEURS PHP -RÉF:DEV/07/22</ion-card-title>
        <ion-card-subtitle>Les Ateliers du Capricorne</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Contrat CDI
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        Développer des logiciels au sein de plateformes existantes. 
        ‣ Respecter les bonnes pratiques de développement, build et delivery. 
        ‣ Répondre aux besoins des clients au travers de nouvelles fonctionnalités.…
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>DÉVELOPPEURS JAVA - RÉF : JAVABACK_2022-07_IB</ion-card-title>
        <ion-card-subtitle>IBONIA</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Contrat CDI
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        Vous maîtrisez les technologies JAVA et tout son environnement : 
        Hibernate, micro service, API (Rest/Soap)? Vous avez des années d’expérience réelle en entreprise, 
        au minimum 3 ans sur le développement…
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>WEB DESIGNER</ion-card-title>
        <ion-card-subtitle>Neoshore Madagascar</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Contrat CDI
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        Créer des concepts de conception et des wireframes pour déterminer les meilleures fonctionnalités pour notre produit ; 
        •Créer des prototypes haute-fidélités ; •Collaborer étroitement avec les développeurs…
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
