<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PORTAL JOB
    </ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>DES DÉVELOPPEURS .NET CONFIRMÉ/ SÉNIOR</ion-card-title>
        <ion-card-subtitle>BOCASAY</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Contrat CDI
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        Garant de la veille technologique, nous serons à l’écoute de vos propositions d’évolutions. 
        Vous interviendrez sur le développement d'applications web autour des aspects suivants : _ Développement,…
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>DEVELOPPEURS PYTHON</ion-card-title>
        <ion-card-subtitle>BOCASAY</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Contrat CDI
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        Au sein d’une équipe à taille humaine rassemblant des compétences variées, 
        dans une bonne ambiance de travail, vous développerez en équipe des solutions web à fortes valeurs ajoutées. 
        Garant de la veille…
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>DEVELOPPEURS WORDPRESS ET PRESTASHOP -RÉF:DEV/0722</ion-card-title>
        <ion-card-subtitle>Les Ateliers du Capricorne</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Contrat CDI
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        Développement et intégration site web sous Wordpress, 
        Prestashop, web services et applicatifs. • Personnalisation de site web à partir de template. 
        • Développement des modules sous Wordpress, Prestashop.…
      </ion-card-content>
    </ion-card>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
